In [12]:
a = 5
b = 6
a * b

30

In [13]:
# VARIABLES

numero = 5
numero

5

In [25]:
cadena = "mi nombre es, Didier"

In [26]:
cadena

'mi nombre es, Didier'

In [27]:
cadena2 = "mi nombre es, Hugo"

In [28]:
cadena2

'mi nombre es, Hugo'

In [24]:
print(cadena)
print(cadena2)

mi nombre es, Didier
mi nombre es, Hugo

In [26]:
type(numero)

int

In [28]:
type(cadena)

str

In [32]:
Tallas = [1.74, 1.80]
type(Tallas)

list

In [34]:
peso = 92.40

In [37]:
type(peso)

float

In [40]:
cadena = "3"
int(cadena)

3

In [42]:
len(cadena)

1

In [44]:
cadena2[4]

'o'

In [46]:
cadena2[-2]

'g'

In [50]:
cadena3 = "MI NOMBRE ES DIDIER YEPEZ"
cadena3.lower()

'mi nombre es didier yepez'

In [52]:
cadena3.upper()

'MI NOMBRE ES DIDIER YEPEZ'

In [54]:
cadena2.split(",")

['mi nombre es', ' Hugo']

In [56]:
cadena.split("e")

['3']

In [62]:
cadena2.split("e")

['mi nombr', ' ', 's, Hugo']

In [64]:
len(cadena2.split("e"))

3

In [68]:
alumno = "Didier"
print("mi nombre es " + alumno)

mi nombre es Didier

In [82]:
edad = 27
print("Buenos dias, mi nombre es " + alumno + " y mi edad es " + str(edad))

Buenos dias, mi nombre es Didier y mi edad es 27

In [79]:
print("Buenos dias {}, feliz {} cumpleaños".format(alumno,edad))

Buenos dias Didier, feliz 27 cumpleaños

In [81]:
print(f"Buenos dias {alumno}, feliz {edad} cumpleaños")

Buenos dias Didier, feliz 27 cumpleaños

In [84]:
R = 10/3;R

3.3333333333333335

In [86]:
print(f"el resultado es {R}")

el resultado es 3.3333333333333335

In [ ]:
print("Introduzca un nombre")
entrada2 = input()
print("se ingreso ingresado es " + entrada2)

In [2]:
8+9

17

In [4]:
2^2

0

In [6]:
2*2

4

In [10]:
a = 3; b = 4; c = 6
print(a-b)
print(b/a)

-1
1.3333333333333333

In [12]:
-b

-4

In [13]:
a==b

False

In [16]:
a!=b

True

In [18]:
a>b

False

In [20]:
a<b

True

In [29]:
cadena == cadena2

False

In [31]:
persona = input("Ingrese nombre de la persona: ")
sexo = input("ingrese sexo; ")
if nombre[0] <= "M" and sexo == "HOMBRE":
    print("grupo a")
    elif nombre [0] >= "N" and sexo == "MUJER":
        print("grupo b")
        else:
            print("grupo c")

SyntaxError: invalid syntax (<ipython-input-31-6e19af2abb9b>, line 5)

In [34]:
n1 = 5; n2 = 6; n3 = 12; n4 = 20

In [36]:
(n1<n2) and (n1>n4)

False

In [38]:
(n1<n2) and (n1<n4)

True

In [ ]:
##EL ^  hace de ||

In [39]:
(n1<n2) ^ (n1>n4)

True

In [41]:
frutas = ["Pera","Mango","Manzana","Uvas","Melón"]; Fruta = "Maracuya"

In [43]:
Fruta in frutas

False

In [45]:
Fruta1 = "Mango"

In [47]:
Fruta1 not in frutas

False

In [49]:
Fruta2 = "Manzana"

In [51]:
Fruta2 in frutas

True

In [56]:
##lista de listas
autos = [["Yaris","Fortuner"],["Accent","Santa Fe"],[4,5],40]
len(autos)

4

In [58]:
autos[3]

40

In [68]:
tupla_colores = ("Verde","Amarillo","Rojo")

In [62]:
tupla_colores[2]

'Rojo'

In [71]:
for color in tupla_colores:
     print(color)

Verde
Amarillo
Rojo

In [74]:
auto = (["Yaris","Fortuner"],["Accent","Santa Fe"],[4,5],40)
auto[0]

['Yaris', 'Fortuner']

In [77]:
auto[0][0] = "X5"

In [79]:
auto[0][0]

'X5'

In [81]:
auto[0]

['X5', 'Fortuner']

In [87]:
conj_color = {"Celeste","Marron","Negro",4,("Daniel","Hugo")}

for color in conj_color:
    print(color)

4
Celeste
('Daniel', 'Hugo')
Negro
Marron

In [90]:
diccionario = {"red":"rojo","Blue":"Azul","Green":"Verde"}
diccionario

{'red': 'rojo', 'Blue': 'Azul', 'Green': 'Verde'}

In [92]:
for color in diccionario:
    print(color)

red
Blue
Green

In [94]:
diccionario["red"]

'rojo'

In [97]:
if(n1>n2):
    print("n1 es mayor a n2")
elif(n1==n2):
    print("n1 es igual a n2")
else:
    print("ninguna de las anteriores")

ninguna de las anteriores

In [103]:
def compnum(n1,n2):
    if(n1>n2):
        print("n1 es mayor a n2")
    elif(n1==n2):
        print("n1 es igual a n2")
    else:
        print("ninguna de las anteriores")

In [105]:
compnum(54,60)

ninguna de las anteriores

In [108]:
i = 1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [128]:
i = 1
while(i>=-10):
    print(i)
    i-=1

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [131]:
class ClaseSilla:
    color="Negro"
    precio=250
    patas = 4
    tamano = 0.60

In [133]:
ClaseSilla

__main__.ClaseSilla

In [135]:
type(ClaseSilla)

type

In [137]:
obj_silla = ClaseSilla()

In [139]:
obj_silla.tamano

0.6

In [141]:
obj_silla.tamano ** 2

0.36

In [143]:
lista1 = [["Amarillas","Blancas",obj_silla.color], 40, "Daniel"]

In [145]:
lista1

[['Amarillas', 'Blancas', 'Negro'], 40, 'Daniel']

In [149]:
R2 = lambda W : W + 30 ## ES UNA FUNCION QUE PUEDES PASARLE N PARAMETROS Y HACER OPERACIONES CON ELLOS

In [151]:
R2

In [153]:
R2(8)

38

In [156]:
def compnum(n1,n2):
    if(n1>n2):
        print("n1 es mayor a n2")
    elif(n1==n2):
        print("n1 es igual a n2")
    else:
        print("ninguna de las anteriores")

In [166]:
def division(a,b):
	if(b==0):
		print("Error division por 0")
	else:
		print(a/b)

In [169]:
import plotly

In [173]:
import re
help(re)

Help on module re:

NAME
    re - Support for regular expressions (RE).

DESCRIPTION
    This module provides regular expression matching operations similar to
    those found in Perl.  It supports both 8-bit and Unicode strings; both
    the pattern and the strings being processed can contain null bytes and
    characters outside the US ASCII range.

    Regular expressions can contain both special and ordinary characters.
    Most ordinary characters, like "A", "a", or "0", are the simplest
    regular expressions; they simply match themselves.  You can
    concatenate ordinary characters, so last matches the string 'last'.

    The special characters are:
        "."      Matches any character except a newline.
        "^"      Matches the start of the string.
        "$"      Matches the end of the string or just before the newline at
                 the end of the string.
        "*"      Matches 0 or more (greedy) repetitions of the preceding RE.
                 Greedy means that it will match as many repetitions as possible.
        "+"      Matches 1 or more (greedy) repetitions of the preceding RE.
        "?"      Matches 0 or 1 (greedy) of the preceding RE.
        *?,+?,?? Non-greedy versions of the previous three special characters.
        {m,n}    Matches from m to n repetitions of the preceding RE.
        {m,n}?   Non-greedy version of the above.
        "\\"     Either escapes special characters or signals a special sequence.
        []       Indicates a set of characters.
                 A "^" as the first character indicates a complementing set.
        "|"      A|B, creates an RE that will match either A or B.
        (...)    Matches the RE inside the parentheses.
                 The contents can be retrieved or matched later in the string.
        (?aiLmsux) Set the A, I, L, M, S, U, or X flag for the RE (see below).
        (?:...)  Non-grouping version of regular parentheses.
        (?P<name>...) The substring matched by the group is accessible by name.
        (?P=name)     Matches the text matched earlier by the group named name.
        (?#...)  A comment; ignored.
        (?=...)  Matches if ... matches next, but doesn't consume the string.
        (?!...)  Matches if ... doesn't match next.
        (?<=...) Matches if preceded by ... (must be fixed length).
        (?<!...) Matches if not preceded by ... (must be fixed length).
        (?(id/name)yes|no) Matches yes pattern if the group with id/name matched,
                           the (optional) no pattern otherwise.

    The special sequences consist of "\\" and a character from the list
    below.  If the ordinary character is not on the list, then the
    resulting RE will match the second character.
        \number  Matches the contents of the group of the same number.
        \A       Matches only at the start of the string.
        \Z       Matches only at the end of the string.
        \b       Matches the empty string, but only at the start or end of a word.
        \B       Matches the empty string, but not at the start or end of a word.
        \d       Matches any decimal digit; equivalent to the set [0-9] in
                 bytes patterns or string patterns with the ASCII flag.
                 In string patterns without the ASCII flag, it will match the whole
                 range of Unicode digits.
        \D       Matches any non-digit character; equivalent to [^\d].
        \s       Matches any whitespace character; equivalent to [ \t\n\r\f\v] in
                 bytes patterns or string patterns with the ASCII flag.
                 In string patterns without the ASCII flag, it will match the whole
                 range of Unicode whitespace characters.
        \S       Matches any non-whitespace character; equivalent to [^\s].
        \w       Matches any alphanumeric character; equivalent to [a-zA-Z0-9_]
                 in bytes patterns or string patterns with the ASCII flag.
                 In string patterns without the ASCII flag, it will match the
                 range of Unicode alphanumeric characters (letters plus digits
                 plus underscore).
                 With LOCALE, it will match the set [0-9_] plus characters defined
                 as letters for the current locale.
        \W       Matches the complement of \w.
        \\       Matches a literal backslash.

    This module exports the following functions:
        match     Match a regular expression pattern to the beginning of a string.
        fullmatch Match a regular expression pattern to all of a string.
        search    Search a string for the presence of a pattern.
        sub       Substitute occurrences of a pattern found in a string.
        subn      Same as sub, but also return the number of substitutions made.
        split     Split a string by the occurrences of a pattern.
        findall   Find all occurrences of a pattern in a string.
        finditer  Return an iterator yielding a Match object for each match.
        compile   Compile a pattern into a Pattern object.
        purge     Clear the regular expression cache.
        escape    Backslash all non-alphanumerics in a string.

    Some of the functions in this module takes flags as optional parameters:
        A  ASCII       For string patterns, make \w, \W, \b, \B, \d, \D
                       match the corresponding ASCII character categories
                       (rather than the whole Unicode categories, which is the
                       default).
                       For bytes patterns, this flag is the only available
                       behaviour and needn't be specified.
        I  IGNORECASE  Perform case-insensitive matching.
        L  LOCALE      Make \w, \W, \b, \B, dependent on the current locale.
        M  MULTILINE   "^" matches the beginning of lines (after a newline)
                       as well as the string.
                       "$" matches the end of lines (before a newline) as well
                       as the end of the string.
        S  DOTALL      "." matches any character at all, including the newline.
        X  VERBOSE     Ignore whitespace and comments for nicer looking RE's.
        U  UNICODE     For compatibility only. Ignored for string patterns (it
                       is the default), and forbidden for bytes patterns.

    This module also defines an exception 'error'.

CLASSES
    builtins.Exception(builtins.BaseException)
        error
    builtins.object
        Match
        Pattern

    class Match(builtins.object)
     |  The result of re.match() and re.search().
     |  Match objects always have a boolean value of True.
     |
     |  Methods defined here:
     |
     |  __copy__(self, /)
     |
     |  __deepcopy__(self, memo, /)
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  end(self, group=0, /)
     |      Return index of the end of the substring matched by group.
     |
     |  expand(self, /, template)
     |      Return the string obtained by doing backslash substitution on the string template, as done by the sub() method.
     |
     |  group(...)
     |      group([group1, ...]) -> str or tuple.
     |      Return subgroup(s) of the match by indices or names.
     |      For 0 returns the entire match.
     |
     |  groupdict(self, /, default=None)
     |      Return a dictionary containing all the named subgroups of the match, keyed by the subgroup name.
     |
     |      default
     |        Is used for groups that did not participate in the match.
     |
     |  groups(self, /, default=None)
     |      Return a tuple containing all the subgroups of the match, from 1.
     |
     |      default
     |        Is used for groups that did not participate in the match.
     |
     |  span(self, group=0, /)
     |      For match object m, return the 2-tuple (m.start(group), m.end(group)).
     |
     |  start(self, group=0, /)
     |      Return index of the start of the substring matched by group.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  endpos
     |      The index into the string beyond which the RE engine will not go.
     |
     |  lastgroup
     |      The name of the last matched capturing group.
     |
     |  lastindex
     |      The integer index of the last matched capturing group.
     |
     |  pos
     |      The index into the string at which the RE engine started looking for a match.
     |
     |  re
     |      The regular expression object.
     |
     |  regs
     |
     |  string
     |      The string passed to match() or search().

    class Pattern(builtins.object)
     |  Compiled regular expression object.
     |
     |  Methods defined here:
     |
     |  __copy__(self, /)
     |
     |  __deepcopy__(self, memo, /)
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  findall(self, /, string, pos=0, endpos=9223372036854775807)
     |      Return a list of all non-overlapping matches of pattern in string.
     |
     |  finditer(self, /, string, pos=0, endpos=9223372036854775807)
     |      Return an iterator over all non-overlapping matches for the RE pattern in string.
     |
     |      For each match, the iterator returns a match object.
     |
     |  fullmatch(self, /, string, pos=0, endpos=9223372036854775807)
     |      Matches against all of the string.
     |
     |  match(self, /, string, pos=0, endpos=9223372036854775807)
     |      Matches zero or more characters at the beginning of the string.
     |
     |  scanner(self, /, string, pos=0, endpos=9223372036854775807)
     |
     |  search(self, /, string, pos=0, endpos=9223372036854775807)
     |      Scan through string looking for a match, and return a corresponding match object instance.
     |
     |      Return None if no position in the string matches.
     |
     |  split(self, /, string, maxsplit=0)
     |      Split string by the occurrences of pattern.
     |
     |  sub(self, /, repl, string, count=0)
     |      Return the string obtained by replacing the leftmost non-overlapping occurrences of pattern in string by the replacement repl.
     |
     |  subn(self, /, repl, string, count=0)
     |      Return the tuple (new_string, number_of_subs_made) found by replacing the leftmost non-overlapping occurrences of pattern with the replacement repl.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  flags
     |      The regex matching flags.
     |
     |  groupindex
     |      A dictionary mapping group names to group numbers.
     |
     |  groups
     |      The number of capturing groups in the pattern.
     |
     |  pattern
     |      The pattern string from which the RE object was compiled.

    class error(builtins.Exception)
     |  error(msg, pattern=None, pos=None)
     |
     |  Exception raised for invalid regular expressions.
     |
     |  Attributes:
     |
     |      msg: The unformatted error message
     |      pattern: The regular expression pattern
     |      pos: The index in the pattern where compilation failed (may be None)
     |      lineno: The line corresponding to pos (may be None)
     |      colno: The column corresponding to pos (may be None)
     |
     |  Method resolution order:
     |      error
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, msg, pattern=None, pos=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.Exception:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

FUNCTIONS
    compile(pattern, flags=0)
        Compile a regular expression pattern, returning a Pattern object.

    escape(pattern)
        Escape special characters in a string.

    findall(pattern, string, flags=0)
        Return a list of all non-overlapping matches in the string.

        If one or more capturing groups are present in the pattern, return
        a list of groups; this will be a list of tuples if the pattern
        has more than one group.

        Empty matches are included in the result.

    finditer(pattern, string, flags=0)
        Return an iterator over all non-overlapping matches in the
        string.  For each match, the iterator returns a Match object.

        Empty matches are included in the result.

    fullmatch(pattern, string, flags=0)
        Try to apply the pattern to all of the string, returning
        a Match object, or None if no match was found.

    match(pattern, string, flags=0)
        Try to apply the pattern at the start of the string, returning
        a Match object, or None if no match was found.

    purge()
        Clear the regular expression caches

    search(pattern, string, flags=0)
        Scan through string looking for a match to the pattern, returning
        a Match object, or None if no match was found.

    split(pattern, string, maxsplit=0, flags=0)
        Split the source string by the occurrences of the pattern,
        returning a list containing the resulting substrings.  If
        capturing parentheses are used in pattern, then the text of all
        groups in the pattern are also returned as part of the resulting
        list.  If maxsplit is nonzero, at most maxsplit splits occur,
        and the remainder of the string is returned as the final element
        of the list.

    sub(pattern, repl, string, count=0, flags=0)
        Return the string obtained by replacing the leftmost
        non-overlapping occurrences of the pattern in string by the
        replacement repl.  repl can be either a string or a callable;
        if a string, backslash escapes in it are processed.  If it is
        a callable, it's passed the Match object and must return
        a replacement string to be used.

    subn(pattern, repl, string, count=0, flags=0)
        Return a 2-tuple containing (new_string, number).
        new_string is the string obtained by replacing the leftmost
        non-overlapping occurrences of the pattern in the source
        string by the replacement repl.  number is the number of
        substitutions that were made. repl can be either a string or a
        callable; if a string, backslash escapes in it are processed.
        If it is a callable, it's passed the Match object and must
        return a replacement string to be used.

    template(pattern, flags=0)
        Compile a template pattern, returning a Pattern object

DATA
    A = <RegexFlag.ASCII: 256>
    ASCII = <RegexFlag.ASCII: 256>
    DOTALL = <RegexFlag.DOTALL: 16>
    I = <RegexFlag.IGNORECASE: 2>
    IGNORECASE = <RegexFlag.IGNORECASE: 2>
    L = <RegexFlag.LOCALE: 4>
    LOCALE = <RegexFlag.LOCALE: 4>
    M = <RegexFlag.MULTILINE: 8>
    MULTILINE = <RegexFlag.MULTILINE: 8>
    S = <RegexFlag.DOTALL: 16>
    U = <RegexFlag.UNICODE: 32>
    UNICODE = <RegexFlag.UNICODE: 32>
    VERBOSE = <RegexFlag.VERBOSE: 64>
    X = <RegexFlag.VERBOSE: 64>
    __all__ = ['match', 'fullmatch', 'search', 'sub', 'subn', 'split', 'fi...

VERSION
    2.2.1

FILE
    c:\programdata\anaconda3\lib\re.py

In [174]:
#si quiero traer toda la libreria
import datetime

In [177]:
#si quiero traer una funcion de una libreria
from datetime import datetime

datetime.now()

datetime.datetime(2020, 2, 1, 11, 22, 45, 269780)

In [182]:
numeros = [-4,-3,5,7]

In [192]:
def positivo(num):
    if(num>0):
        return True
    else:
        return False

In [193]:
R = list(filter(positivo, numeros))

In [194]:
R

[5, 7]

In [215]:
def pares(num):
    if(num/2%0):
        return True
    else:
        return False

In [217]:
P = list(filter(pares,numeros))

ZeroDivisionError: float modulo

In [266]:
numeros2 = list(map(lambda num: num ** 2, numeros))

In [267]:
numeros2

[16, 9, 25, 49]

In [257]:
import math as mt
mt.sqrt(9)

3.0

In [260]:
def raiz(num):
    return(mt.sqrt(num))

In [268]:
list(map(raiz, numeros2))

[4.0, 3.0, 5.0, 7.0]

In [284]:
## EJERCICIO CONVERTIR TEMPERATURAS DE FARENHEITH A CELSIUS
def EvaluarTemperatura(num):
    centigrados = (num - 32) * (5/9)
    if(centigrados < 35):
        print("Escalofrios")
    elif(centigrados > 35 and centigrados <38):
        print ("Normal")
    else:
        print ("Fiebre")

In [287]:
temperaturas = [33,30,36,37,38,39,40]

list(map(EvaluarTemperatura,temperaturas))

Escalofrios
Escalofrios
Escalofrios
Escalofrios
Escalofrios
Escalofrios
Escalofrios

[None, None, None, None, None, None, None]

In [289]:
texto = "Hola mi nombre es Didier"

In [291]:
# importa el modulo de regular expressions

import re

In [292]:
re.search("mi", texto)

In [295]:
##MATRICES

import numpy as np


np.random.rand(2,3,4).round(4)

array([[[0.0775, 0.3797, 0.7308, 0.2405],
        [0.5799, 0.5318, 0.1794, 0.5133],
        [0.6867, 0.9966, 0.7499, 0.0127]],

       [[0.2648, 0.0329, 0.4902, 0.5934],
        [0.0316, 0.258 , 0.5993, 0.9238],
        [0.5874, 0.4688, 0.3544, 0.6543]]])

In [297]:
np.random.rand(6)

array([0.93535456, 0.16268361, 0.75874576, 0.41973679, 0.58340008,
       0.38412544])

In [299]:
np.arange(8)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [302]:
arrayEnteros = np.arange(7)
arrayEnteros

array([0, 1, 2, 3, 4, 5, 6])

In [304]:
import random

In [309]:
#funcion para imprimir valores aleatorios mientras la suma de estos no alcance el valor maximo dado
objetivo = 10

x = np.random.randint(0, objetivo, size=(10,))
while sum(x) != objetivo: 
    x = np.random.randint(0, objetivo, size=(10,))

print(x)

[3 2 0 0 1 0 3 0 0 1]

In [314]:
## IMPORTAMOS LA LIBRERIA PANDAS.

import pandas as pda

pda.Series(np.random.randn(5))

0    0.527475
1   -0.776404
2    0.322752
3    0.130025
4   -0.799385
dtype: float64

In [316]:
pda.Series(np.random.randn(5), index = ['a', 'b','c','d','e'])

a    0.295359
b    0.609612
c   -1.103434
d   -0.005660
e   -0.859333
dtype: float64

In [319]:
## Leer un archivo .csv

import sys
sys.path

['D:\\CERTIFIED BIG DATA DEVELOPER\\2020-01-31_Python',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\LENOVO\\.ipython']

In [323]:
data = pda.read_csv('D:\\CERTIFIED BIG DATA DEVELOPER\\2020-01-31_Python/base_intro.csv', sep=',')
data

,nit,en_vm_canal1,en_vm_canal2,en_vm_canal3,en_vm_canal4,en_vm_canal5,en_vm_canal6,en_vm_canal7,en_vm_canal8,en_vm_canal9,...,pagos_pn,tiene_ventas_fisicas,tiene_ventas_electronicas,recaudos_pj,recaudos_pn,rotacion_inventarios,rotacion_cxc,rotacion_cxp,ciclo_negocio,ciclo_financiero
0,C4936394968152386565,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,6.0,2.0,2.0,5.0,6.0
1,C-8615176103348111575,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,1.0,3.0,1.0,3.0,4.0
2,C2364605246729357060,2.509275e+08,5.416089e+07,5.122152e+06,41852510.17,413614314.7,1663236.40,2.106848e+09,0.0,0.00,...,0.544,1.0,0.0,0.0,0.0,2.0,1.0,2.0,2.0,1.0
3,C7393816976826597531,3.940236e+07,9.646900e+07,8.226710e+06,0.00,0.0,7072801.90,0.000000e+00,9000000.0,0.00,...,0.385,1.0,0.0,0.0,0.0,5.0,2.0,3.0,5.0,5.0
4,C872645851723947566,3.374323e+08,2.342179e+08,1.053441e+08,15755286.83,0.0,23671840.33,0.000000e+00,3600962.2,3727298.56,...,0.000,1.0,0.0,0.0,0.0,2.0,2.0,1.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,C-183565186626737291,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,6.0,4.0,4.0,6.0,6.0
2229,C-183565186626737291,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,4.0,4.0,1.0,5.0,6.0
2230,C-183565186626737291,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,2.0,2.0,1.0,3.0,4.0
2231,C-183565186626737291,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,1.0,2.0,1.0,2.0,3.0
2232,C-183565186626737291,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.0,0.00,0.000000e+00,0.0,0.00,...,0.000,0.0,0.0,0.0,0.0,1.0,1.0,4.0,2.0,1.0

In [329]:
data.head(3)

,nit,en_vm_canal1,en_vm_canal2,en_vm_canal3,en_vm_canal4,en_vm_canal5,en_vm_canal6,en_vm_canal7,en_vm_canal8,en_vm_canal9,...,pagos_pn,tiene_ventas_fisicas,tiene_ventas_electronicas,recaudos_pj,recaudos_pn,rotacion_inventarios,rotacion_cxc,rotacion_cxp,ciclo_negocio,ciclo_financiero
0,C4936394968152386565,0.0,0.00,0.00,0.00,0.0,0.0,0.000000e+00,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,6.0,2.0,2.0,5.0,6.0
1,C-8615176103348111575,0.0,0.00,0.00,0.00,0.0,0.0,0.000000e+00,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,1.0,3.0,1.0,3.0,4.0
2,C2364605246729357060,250927492.7,54160892.46,5122151.67,41852510.17,413614314.7,1663236.4,2.106848e+09,0.0,0.0,...,0.544,1.0,0.0,0.0,0.0,2.0,1.0,2.0,2.0,1.0

In [331]:
data.tail(3)

,nit,en_vm_canal1,en_vm_canal2,en_vm_canal3,en_vm_canal4,en_vm_canal5,en_vm_canal6,en_vm_canal7,en_vm_canal8,en_vm_canal9,...,pagos_pn,tiene_ventas_fisicas,tiene_ventas_electronicas,recaudos_pj,recaudos_pn,rotacion_inventarios,rotacion_cxc,rotacion_cxp,ciclo_negocio,ciclo_financiero
2230,C-183565186626737291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0,3.0,4.0
2231,C-183565186626737291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,2.0,3.0
2232,C-183565186626737291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0,2.0,1.0

In [333]:
data.shape

(2233, 47)

In [336]:
data[80:500][['pagos_pn','ciclo_negocio']]

     pagos_pn  ciclo_negocio
80      0.223            2.0
81      0.458            5.0
82      0.703            4.0
83      0.799            2.0
84      0.535            6.0
..        ...            ...
495     0.426            5.0
496     0.619            2.0
497     0.532            1.0
498     0.703            5.0
499     0.514            5.0

[420 rows x 2 columns]

In [342]:
d = {'c1': pda.Series(['A','B','C']), 'c2': pda.Series([1,2,3,4])}